# API URL
VITE_API_URL=https://travel-tracker.org/api

# Auth
# OAuth 2.0 Client IDs - Web application type - https://console.cloud.google.com/auth/clients?project=gen-lang-client-0544524717
VITE_GOOGLE_CLIENT_ID=
# OAuth 2.0 Client IDs - iOS type - https://console.cloud.google.com/auth/clients?project=travel-tracker-479121
VITE_IOS_GOOGLE_CLIENT_ID=
# iOS Identifiers  (Services IDs) - https://developer.apple.com/account/resources/identifiers/serviceId/edit/75425638B3
VITE_APPLE_CLIENT_ID=
# iOS Bundle ID (App IDs) - https://developer.apple.com/account/resources/identifiers/bundleId/edit/YPB7DQNKGT
VITE_IOS_APPLE_CLIENT_ID=
# Apple Callback URL - App IDs (Sign in with Apple) - https://developer.apple.com/account/resources/identifiers/bundleId/edit/YPB7DQNKGT
VITE_APPLE_REDIRECT_URI=

# EMAIL
PORT=3001
EMAIL_SERVICE=gmail
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-16-char-app-password
